NODE_ENV=development
PORT=3001

DB_HOST=postgres
DB_PORT=5432
DB_TEST_HOST=localhost
DB_TEST_PORT=5433
DB_USER=root
DB_PASS=secret
DB_TEST_USER=root
DB_TEST_PASS=secret
DB_NAME=api_db
DB_TEST_NAME=api_db_test
JWT_SECRET=10dddd4cd802ed65b345898daa47f8de4d8abb1d7c24991167916e32de923e92
